{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="card border border-0 bg-dark text-white mb-5">
        <img src="{{ asset('images/cover.png') }}" class="card-img" alt="...">
    </div>
    <div>
        <h1 class="fw-bold title">Nos Articles</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}