@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~bootstrap/scss/bootstrap';

@import './layout/header';
@import './layout/footer';
$font: 'Roboto',sans-serif;
$title: #DC5E44;
$text-color: #131313;

body {
    background-color: #E4E6EC;
    font-family: $font;

}

h1,h5, h2{
    color: $title;
}

footer{
    background-color: $title !important;
}

.btn-primary {
    color: white;
    background-color: $title;
    border-color: $title;
}

.btn-primary:hover {
    color: $title;
    background-color: white;
    border-color: $title
}