<footer class="overflow-hidden">
    <div class="row text-center ">
        <div class="col">
    
        </div>
        <div class="col text-center">
            <img src="{{ asset('images/logo_space.png') }}" height="200" class="mb-5 mt-5" width="auto" alt="">
        </div>
        <div class="col">
        
        </div>
      </div>
      
</footer>